grp:
  train_data:
    - /data/workspace/riichienv/datasets/train_grp.pq
    - /data/workspace/riichienv/datasets/train_grp_2024.pq
  val_data: /data/workspace/riichienv/datasets/val_grp.pq
  output: /data/workspace/riichienv/baseline/grp_model.pth
  device: cuda
  batch_size: 128
  num_workers: 12
  num_epochs: 10
  lr: 5e-4
  input_dim: 20

cql:
  data_glob: "/data/mjsoul/mahjong_game_record_4p_thr_202[45]*/*.bin.xz"
  grp_model: /data/workspace/riichienv/baseline/grp_model.pth
  output: /data/workspace/riichienv/discard_history/cql_model.pth
  device: cuda
  batch_size: 128
  lr: 5e-4
  alpha: 0.1
  gamma: 0.97
  num_epochs: 10
  num_workers: 12
  limit: 3000000
  pts_weight: [10.0, 4.0, -4.0, -10.0]
  wandb_entity: smly
  wandb_project: riichienv-offline
  model_class: riichienv_ml.models.cql_model.QNetwork
  dataset_class: riichienv_ml.data.cql_dataset.DiscardHistoryDataset
  model:
    in_channels: 78
    num_blocks: 24
    conv_channels: 512
    fc_dim: 256
    num_actions: 82

online:
  load_model: /data/workspace/riichienv/discard_history/cql_model.pth
  device: cuda
  model_class: riichienv_ml.models.cql_model.QNetwork
  encoder_class: riichienv_ml.data.cql_dataset.DiscardHistoryEncoder
  num_workers: 12
  num_steps: 5000000
  batch_size: 128
  lr: 1e-4
  alpha_cql_init: 1.0
  alpha_cql_final: 0.1
  exploration: boltzmann
  boltzmann_epsilon: 0.02
  boltzmann_temp_start: 0.1
  boltzmann_temp_final: 0.05
  top_p: 1.0
  capacity: 1000000
  eval_interval: 2000
  weight_sync_freq: 10
  worker_device: cuda
  gpu_per_worker: 0.08
  gamma: 0.99
  checkpoint_dir: /data/workspace/riichienv/discard_history/checkpoints
  wandb_project: riichienv-online
  model:
    in_channels: 78
    num_blocks: 24
    conv_channels: 512
    fc_dim: 256
    num_actions: 82
