name: ruff and ty

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    name: ruff and ty
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true
    - name: Set up Python
      run: uv python install
    - name: Install dependencies
      run: |
        cd riichienv
        uv sync --all-extras --dev
    - name: Run Ruff
      run: |
        cd riichienv
        uv run ruff check .
    - name: Run Ty
      run: |
        cd riichienv
        uv run ty check